#dv {
    width: 300px;
    height: 200px;
/*    position: absolute;*/
    left: 300px;
    top: 100px;
}

.strengthLv0 {
    height: 20px;
    width: 120px;
    border: 1px solid #ccc;
    padding: 2px;
    border-radius:5px;
}

.strengthLv1 {
    background: red;
    height: 20px;
    width: 65px;
    border: 1px solid #ccc;
    padding: 2px;
    border-radius:5px;
}

.strengthLv2 {
    background: orange;
    height: 20px;
    width:160px;
    border: 1px solid #ccc;
    padding: 2px;
    border-radius:5px;
}

.strengthLv3 {
    background: green;
    height: 20px;
    width: 220px;
    border: 1px solid #ccc;
    padding: 2px;
    border-radius:5px;
}
  .pwd-checklist {
    margin-left: 305px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px #efefef;
    background: #f9f9f9;
    width: 245px;
      display: none;
}
  .pwd-checklist .pwd-checklist-item {
    line-height: 20px;
    padding-left: 18px;

    color: #666;
      list-style-type :none;


}
  .input{
      position:  absolute;
      top: 45px;

  }
  .pwdPower{
      display: none;

  }
